body {
  /* Random background from https://picsum.photos/ */
  background-image: url(https://picsum.photos/1200);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  /* grid-template-columns:  */
  grid-template-columns: 1fr 1fr;
  min-height: 96vh;
  color: #293241;
  justify-items: start;
  grid-gap: 1em;
  font-family: "Oswald", sans-serif;
}

.grid-holder {
  justify-self: center;
  align-self: start;
  background: rgba(228, 237, 242, 0.6);
  border-radius: 5px;
}

div.grid-holder {
  font-family: "Inter", sans-serif;
  padding: 8px;
}

h1 {
  font-size: 4em;
  text-align: center;
  align-self: center;
  grid-column: 1 / 3;
}

a.more-info {
  color: #711e37;
  text-decoration: none;
}

a:hover {
  color: #ee524d;
}

/* .feel {} */

.entry {
  /* The result board start at row 2 & col 2 & end at row 4 & col 4 */
  grid-area: 2 / 2 / 4 / 3;
}

#entryHolder {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.generated-data {
  border: solid thin #293241;
  padding: 0.5px;
  border-radius: 5px;
  margin-left: 5px;
  float: right;
}

#date,
#temp,
#content {
  margin: 5px auto;
}

.title {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 23px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}

input {
  display: block;
  height: 40px;
  width: 250px;
  background: #293241;
  color: #e4edf2;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  margin: auto;
  border-radius: 5px;
}

#generate {
  width: 120px;
  height: 35px;
  background: #4288b3;
  color: #fff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  border-radius: 5px;
  display: block;
  position: relative;
  left: 155px;
}

textarea {
  background: #293241;
  color: #e4edf2;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  display: block;
  margin: 10px auto;
  padding: 3px;
  border-radius: 5px;
  resize: none;
  border: none;
}

footer {
  display: inline-block;
  background: #293241;
  color: #e4edf2;
  font: 15px "Oswald", sans-serif;
  /* float: right; */
}
footer a {
  color: #879da8;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #e4edf2;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e4edf2;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #e4edf2;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

/* Responsive Media query */
@media screen and (max-width: 880px) {
  #app {
    grid-template-columns: 1fr;
    justify-content: stretch;
  }

  h1 {
    grid-column: auto;
    font-size: 3em;
  }

  .entry {
    grid-area: auto;
  }

  #entryHolder {
    text-align: center;
  }

  .generated-data {
    display: block;
    margin: 5px 10px;
    float: none;
  }
}
